body {
  height: 100%;
  background: #983FD5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer button {
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 200px;
  background-color: #34CFBE;
  color: #A64600;
  outline: none;
  cursor: pointer;
  margin: 50px 50px 50px 50px;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: #033E6B;
  font-weight: bold;
  margin: auto 0;
}

#field table {
  width: 700px;
  height: 700px;
}

td {				
	text-align:center;				
	font-family:Times New Roman;
	color: #5CCCCC;
	vertical-align: middle;				
}

#field td {
	border:solid 1px #5CCCCC;
	text-align:center;
	font-size:40px;
	font-family:Times New Roman;
	color: #5CCCCC;
	width: 55px;
	height: 55px;
}

#field td:hover {
	background: #C9F76F;
	color: #A64600;
	cursor: url("images/icon1.png"), auto;
}